@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700');
@import url('bootstrap.min.css');
/* @import url('sticky-header.css');*/
@import url('rotate-wheels.css');


body, html {
 
  
    }


    body {
      padding: 0px;
      margin: 0px;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif !important;
      /* font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
      overflow-x: hidden;
    }

/* body{ padding:0px; margin:0px; font-size: 16px; font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; overflow-x: hidden;  } */
header{padding: 0;      -webkit-transition: all 0.5s ease; -moz-transition: position 10s; -ms-transition: position 10s;    -o-transition: position 10s;    transition: all 0.5s ease;    z-index: 999 !important;}

header .navbar{padding: 8px 0px !important}
.main-content{/*display: flex; align-items: center; justify-content: center;*/   
  min-height: calc(100vh - 178px);  padding: 15px 0px;}


/* common */
h1{font-size: 30px;}
h2{font-size: 25px;}
h3{font-size: 20px !important;}
h4{font-size: 17px !important;}
h5{font-size: 14px;}
h6{font-size: 12px;}
h1,h2,h3, h4, h5, h6{margin-bottom: 10px; line-height: 1.8; color: #555}
.form-control{border-radius: 0px;  font-size: 17px !important;     /*height: calc(2.50rem + 3px) !important;*/ padding: 5px 10px !important}
 
a{color: #49bea0;} 
a:hover, a:focus{color: #49bea0; opacity: 0.9; text-decoration: none; }



 /* buttons */ 
.our-button{background: #49bea0 !important;  color: #fff !important;    font-weight: 500; 	  	transition: 0.5s; border:solid 2px #49bea3 !important; } 
.our-button:hover, .our-buttons:focus{background: transparent !important;  color: #49bea0 !important; border: solid 2px #49bea0; } 
 .our-button.btn-sm {
   padding: 2px 12px !important;
   font-size: 14px !important;
   border-radius: 20px !important;
 }
  .our-button.btn-md{padding: 8px 20px; font-size: 19px;  border-radius: 25px}  
.our-button.btn-lg{padding: 7px 25px; font-size: 22px;  border-radius: 30px}

/* inputs */ 
.our-inputs{ border-radius: 20px}

.events .card{transition: box-shadow .2s;}
.events .card:hover{box-shadow: 0 5px 20px rgba(33,33,33,.6); }
/* 
.btn-primary{border-radius: 20px; background:#49bea0; border:solid 2px #49bea0; padding: 6px 15px !important; color: #fff} */


 
 



/* footer */
footer{display:flex !important;background-color:#212125;color:#fff;justify-content:center;min-height:50px;align-items:center}
/* End footer */


/* Started box-shadow css*/
.box-1 {background: #FFF; margin: 40px auto;}
.effect5 {position: relative;}
.effect5:before,.effect5:after {  z-index: -1;  position: absolute; content: "";
  bottom: 25px; left: 10px; width: 50%; top: 80%; background: #777;
   -webkit-box-shadow: 0 35px 20px #777;  -moz-box-shadow: 0 35px 20px #777;  box-shadow: 0 35px 20px #777; 
   -webkit-transform: rotate(-8deg);  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);  -ms-transform: rotate(-8deg); transform: rotate(-8deg);}

.effect5:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
/* End shadow css */


/* Start modal css */
#myModal-1 .modal-dialog  {
-webkit-transform: translate(0,-50%);
-o-transform: translate(0,-50%);
transform: translate(0,-50%);
top: 50%;
margin: 0 auto;
}
.modal-new-1 .modal-content{ border:solid 15px #49bea0; border-radius: 0px; max-width: 520px !important }
.modal-new-1 .modal-content .close {
/* margin-top: -54px; */
margin-right: -24px;
border: solid 2px #49bea0;
padding: 0px;
/* line-height: 10px; */
width: 37px;
height: 37px;
border-radius: 100%;
/* margin-top: -55px; */
color: #49bea0 !important;
background: #fff;
opacity: 1;
position: absolute;
top: -30px;
right: -8px;
/* padding-bottom: 18px; */
font-size: 28px; outline: none;
}
.modal-new-1 .modal-content .close:hover { border: solid 2px #7107f2; color: #7107f2 !important }
.modal-new-1 .modal-content{max-width: 420px; margin:auto;}
/*End modal css */

.hash-input .form-control{
    font-size: 13px !important;
}


.create-new-block-button{
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    background: #49bea0;
     border-color: #49bea0;
     text-transform: uppercase; font-weight: 600; font-size: 18px
  }

  .create-block .btn-outline-secondary{border-color: #ccc !important;}

.our-button.demo-button{
      padding: 4px 20px;
    font-size: 15px !important;
    border-radius: 20px;
  }

.add-new-block-title{
 color:  #a59898 !important
}


/*
.hash-input .form-control{
height: 27px;    font-size: 14px !important;
}

.hash-input button{
padding: 0px 19px;
    font-size: 14px;
    line-height: 29px;
  }
*/

.previous-hash-information{ font-size: 13px; color: #5b5b5b }
.block-date-information{ font-size: 11px; color: #908f8f }
.block-view-content{
border: solid 1px #ccc;
padding: 2px 5px;
border-radius: 17px;
color: #9b9999;
font-size: 12px;
width: 50px;
float: right;
margin-top: 4px;
  }
  .line-height{ line-height: 1.2 !important }

.button-left-border-radius{
  border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important
}

.button-right-border-radius{
  border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important
}

.popup{border: solid 15px #49bea0; border-radius: 0px; z-index: 99 !important; transition: 0.5s}
.overlay{position: fixed; top:0px; bottom: 0px; background: #000; z-index: 9; left: 0px; right: 0px; opacity: 0.5}
body.stop-overflow{ overflow-y:hidden ; }


/* Carosuel */
 .block-item{
  display: inline-block; text-align: center;
  margin-left:-4px;
}

 .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 120px;
    background-color: #dfdcdc !important;
    padding: 12px;
}
/*.col-md-3 img{
  width:100%;
  height:auto;
}*/

.block-item img{
  width:70%;
   height: auto;
    border: solid 1px #ccc;
    padding: 18px;
    border-radius: 66px;
}

.carousel-control-prev {
    left: 0;
    width: 8%;
    text-align: left;
    justify-content: flex-start;
}

 .carousel-control-next {
   
    width: 8%;
   
    justify-content: flex-end;
} 


 .carousel-indicators li{
 
}

.block-item img{ cursor: pointer; }
 .carousel-control-prev-icon,
  .carousel-control-next-icon{
  background-color:red;
}
 .no-padding{
  padding-left: 0;
  padding-right: 0;
}

.connector:after{ content: "";
    background-color: #807c7c;
    width: 61px;
    height: 91px;
    top: 43px;
    position: absolute;
    background: url(../images/chain-100.png);
    background-repeat: no-repeat;
    left: -29px;
    z-index: -99;
    background-size: contain;
    /* width: 100%; */
    text-align: center;

     }


 .our-button.circle-button {
  width: 86px !important;
  height: 86px !important;
  background-color: #49bea0 !important;
  color: #fff !important;
  border-radius: 50%;
  font-size: 54px;
  line-height: 78px;
  margin-bottom: -101px;
}




.popup .close {
    position: relative;
    width: 40px;
    height: 40px;
    border: solid 2px #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    margin-top: -57px;
    margin-right: -49px;
    z-index: 999999 !important;
    background: #49bea0;
    opacity: 1;
    font-weight: 500 !important;
}


 .popup .close i{ font-size: 30px; color: #fff }

@media(max-width: 768px)
{
  .navbar-brand img{ max-width: 140px}
 .social-network-login-button{max-width: 100%;}
 .login-page{align-content: flex-start !important}
 .copy-right-text{font-size: 12px;}
}

@media(max-width: 480px)
{
        .create-new-block-button{border-radius: 30px !important;    margin-top: 10px;    width: 100%;    display: block;}
        .add-new-block-button-section{ display: block; width: 100% }

}

@media(max-width: 320px)
{

}







/* move to top css */
#gotop {
  padding: 5px; width: 40px;  height: 40px;  position: fixed;  right: 10px;  bottom: 50px;
  display: none;  color: #333;  background: #FFF;  font-size: 21px;  text-align: center;  cursor: pointer;  border-radius: 50%;
  z-index: 9999999;  -webkit-animation: MoveUpDown 1s linear infinite;  -webkit-animation-direction: alternate;
}

@keyframes MoveUpDown {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 60px;
  }
  100% {
    bottom: 50px;
  }
}
 



.rotate {
  animation: rotation 20s infinite linear;
}

.rotatew {
  animation: rotationn 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationn {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.no-scroll .carousel-control-prev,
.no-scroll .carousel-control-next {
  display: none;
}

#previous-hash {
  font-size: .8em;
  line-height: 21px;
}


.block-view-content-two {
  border: solid 1px #8068ff;
  padding: 8px 0px;
  border-radius: 50px;
  color: #8068ff;
}

.add-red{
  border-color: red !important;
}

.add-error-color{
  color: red !important;
}

.block-item{
  max-width: 100% !important
}

.block-item img {
  margin: auto !important
}

.slick-next:before,
.slick-prev:before {
  color: #000 !important;
}

.slick-next {
  right: -15px !important;
}

.slick-prev {
  left: -15px !important;
  z-index: 1;
}

.slick-track{
  margin: auto;
}

.block-item:after {
  content: "";
  background-color: #807c7c;
  width: 61px;
  height: 91px;
  top: 58px;
  position: absolute;
  background: url('../images/chain-100.png');
  background-repeat: no-repeat;
  left: -31px;
  z-index: -99;
  background-size: contain;
  text-align: center;
}


.errorschain:after{
  background: url('../images/chain-error.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.no-chain:after {
  background: transparent;
}

/* .block-item img:hover {
  border: solid 5px #49bea0 !important;
} */

.block-item img {
  margin: auto !important;
  transition: 0.2s;
}

.block-item img.errors {
  border: solid 5px #c40c1f !important;
}

.block-item img.errors:hover {
  border: solid 5px #c40c1f !important;
}



/* .overlay2 {
  cursor: pointer;
  margin-top: -104px;
  border: 1px solid #49bea0;
  padding: 18px;
  border-radius: 66px;
  width: 100px;
  height: 100px;
  background: #49bea0;
  position: absolute;
  left: 48px;
  display: none;
  line-height: 58px;
} */
/* 
.overlay2 .fa-info {
  font-size: 30px;
  color: #fff;
}

.col-xs-3.col-sm-3.col-md-2.block-item:hover img {
  background: #49bea0;
  
}

.col-xs-3.col-sm-3.col-md-2.block-item:hover .overlay2 {
  display: block;
} */


.overlay2 {
  cursor: pointer;
  /* margin-top: -104px; */
  /* border: 1px solid #49bea0; */
  padding: 18px;
  border-radius: 50%;
 
  /* left: 48px; */
 display: none;  
  /* line-height: 58px; */
  text-align: center;
  font-size: 50px;
  width: 115px;
  color: #49bea0;
  
}

.myblock {
  border: solid 2px #ccc;
  width: 125px;
  height: 125px;
  BORDER-RADIUS: 50%;
  margin:auto;
  transition: 0.2s;
  margin-bottom: 6px;
}

.myblock.errors{
  border: solid 2px red;
}

.block-item:hover .overlay2 {
  display: block
}
.block-item:hover img {
  display: none
}
.block-item img{ width:100%; border: 0px}

.block-item:hover .myblock {
  border: solid 5px #49bea0;
}


/* .block-item  h6{font-size: 13px} */
.block-item:hover h6 {
  color: #49bea0
}

.input-group-prepend button {
  font-size: 13px;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  background: transparent;
  color: #000;
}

.mine-link{
  width: 38px;
  height: 38px;
  background: #49bea0;
  line-height: 38px !important;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.slick-next {
  right: 0px !important;
  background: #ccc !important;
}

.slick-prev {
  left: 0px !important;

  background: #ccc !important;
}

.slick-next,
.slick-prev {

  width: 30px;
  height: 300px;
}

button.sc-bxivhb.eTpeTG.sc-bdVaJa.cYQqRL {
  border: solid 1px #ccc !important;
  padding: 7px !important;
  top: -12px !important;
  right: -10px !important;
  background: #fff !important;
}

.eTpeTG {
  color: red !important;
  width: 26px !important;
  height: 26px !important;
  border-radius: 50%;
}

.FjVCx {
  max-width: unset !important;
}

.sc-bZQynM.jrBYqH {
  justify-content: center !important;
  padding: 20px 0px 0px !important;
}

.FjVCx {
  max-width: unset !important;
}

button.reactour__dot.reactour__dot--is-active.sc-htoDjs.jnTUqj {
  color: #49bea0 !important;
  background-color: #49bea0 !important;
}

.sc-bZQynM.jrBYqH {
  width: 372px !important;
}

.reactour__helper--is-open {
  max-width: unset !important;
  border: solid 5px #49bea0;
}

.sc-EHOje {
  background-color: #49bea0 !important;
}

body.overflow-hidden {
  overflow: hidden;
}